<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:block th:include="include :: head('用户')" />
</head>
<body>

    <form id="sysUserForm" novalidate=true th:object="${sysUser}">
        <input id="id" name="id" th:field="*{id}"  type="hidden">
                        <div class="form-row">
            <div class="col form-group">
                <input type="text" id="userName" name="userName" th:field="*{userName}" class="form-control" placeholder="用户登录名">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="password" name="password" th:field="*{password}" class="form-control" placeholder="加密过的密码">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="salt" name="salt" th:field="*{salt}" class="form-control" placeholder="密码加密盐">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="姓名">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="mobile" name="mobile" th:field="*{mobile}" class="form-control" placeholder="手机号码">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="email" name="email" th:field="*{email}" class="form-control" placeholder="电子邮件">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="status" name="status" th:field="*{status}" class="form-control" placeholder="用户状态">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="gender" name="gender" th:field="*{gender}" class="form-control" placeholder="性别">
            </div>
        </div>

                                <div class="form-row">
            <div class="col form-group">
                <input type="text" id="birthday" name="birthday" th:field="*{birthday}" class="form-control" placeholder="生日">
            </div>
        </div>

            



    </form>
    <div th:replace="include :: footer"></div>
    <script type="text/javascript">
       var prefix ="/system/sysUser";
        $("#sysUserForm").validate({
            rules: {
                intField: {
                    required: true,
                    digits: true
                },
                varcharField: {
                    required: true,
                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#sysUserForm").serializeArray();
                $.operation.saveModal(prefix + "/save", data, function () {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭  
                    parent.SysUser.table.refresh();
                });
            }
        }
    </script>
</body>
</html>