<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: head('组织部门列表')" />
</head>
<body>
 <div id="searchArea" class="collapse in"  style="margin-top: 15px;">
            <form id="searchForm">
                <div class="form-row">
                    <div class="col-auto">
                        <input id="startTime" name="beginTime" type="text" class="form-control select-time" placeholder="开始时间">
                    </div>
                    <div class="col-auto">
                        <input id="endTime" name="endTime" type="text" class="form-control select-time" placeholder="截止时间">
                    </div>
                    <div class="col-auto">
                        <input name="searchTxt" type="text" class="form-control" placeholder="字符串字段">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary mb-2" onclick="SysOffice.table.search();"><i class="fas fa-eye"></i>查询</button>
                        <button type="button" class="btn btn-info mb-2" onclick=" $('#searchForm')[0].reset();;"><i class="fas fa-broom"></i>清空</button>
                    </div>
                </div>
            </form>
        </div>
	 <div id="tableToolbar">
            <div class="form-inline " role="form">
                <button type="button" class="btn btn-outline-success"  data-toggle="tooltip"   title="新建" onclick="SysOffice.table.add();"><i class="fas fa-file-alt"></i></button>
                <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"   title="修改"  onclick="SysOffice.table.edit();"><i class="fas fa-pencil-alt "></i></button>
                <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"     title="删除" onclick="SysOffice.table.delete();"><i class="fas fa-trash-alt "></i></button>

                <div class="form-group">
                    <input id="searchKeyWord" name="searchKeyWord" class="form-control" type="text" min="2" minlength="2" placeholder="全文检索">
                </div>
                <button  type="button" class="btn btn-outline-secondary"  data-toggle="tooltip"   title="查询" onclick="SysOffice.table.fullTextSearch();"><i class="fas fa-search "></i></button>
                <button id="searchMore"  type="button" class="btn btn-outline-danger"  data-toggle="tooltip" title="更多查询" onclick='$("#searchArea").collapse("toggle");'>
                    <i class="fas fa-pastafarianism fa-1x" ></i>
                </button>
            </div>  
        </div>
        <table id="table">      </table>

        <div th:replace="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = "/system/sysOffice";
        var baseUrl=prefix + "/list";
        var SysOffice = {
                id: "table",
                funProps: {
                    profixTitle: "组织部门",
                    url: baseUrl,
                    fullTextUrl: prefix + "/fullTextList",
                    addUrl: prefix + "/add",
                    editUrl: prefix + "/edit/",
                    delUrl: prefix + "/delete",
                    unDelUrl: prefix + "/undelete",
                },
                initColumn: function () {
                    var columns = [
                        {checkbox: "true"},

				{
					field : 'id', 
					title : '主键ID',
					visible: false
				},

				{
					field : 'name', 
					title : '名称',
					sortable: true
				},

				{
					field : 'pid', 
					title : '父ID',
					sortable: true
				},

				{
					field : 'pids', 
					title : '父亲路径',
					sortable: true
				},

				{
					field : 'sort', 
					title : '排序',
					sortable: true
				},

				{
					field : 'remarks', 
					title : '备注',
					sortable: true
				},

				{
					field : 'useable', 
					title : '是否可用',
					sortable: true
				},




                        {title: '操作', align: 'center',
                            formatter: function (value, row, index) {
                                var actions = [];
                                actions.push('<a class="btn btn-success btn-xs " href="#"  title="修改"  onclick="SysOffice.table.edit(\'' + row.id + '\')"><i class="fas fa-pencil-alt "></i></a> ');
                                if (row.delFlag === 0)
                                    actions.push('<a class="btn btn-danger btn-xs " href="#"  title="删除"  onclick="SysOffice.table.delete(\'' + row.id + '\')"><i class="fas fa-trash-alt "></i></a> ');
                                else
                                    actions.push('<a class="btn btn-info btn-xs " href="#"  title="恢复"  onclick="SysOffice.table.undelete(\'' + row.id + '\')"><i class="fas fa-undo "></i></a> ');
                                return actions.join('');
                            }}
                    ];
                    return columns;
                },
                options: {
                    queryParams: function (params) {
                        var queryData = {};
                        if (this.url === baseUrl)
                            $.each($("#searchForm").serializeArray(), function (i, field) {
                                queryData[field.name] = field.value;
                            });
                        else
                            queryData['keyWords'] = $('#searchKeyWord').val();
                        params = $.extend(params, queryData);
                        return params;
                    }
                }};

            $(document).ready(function () {
                var table = new BTable(SysOffice.id, SysOffice.initColumn(), SysOffice.options);
                SysOffice.table = table.init(SysOffice.funProps);
            });
    </script>
</body>
</html>