<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:block th:include="include :: head('系统菜单列表')" />
</head>
<body>
    <form id="sysMenuForm" novalidate=true th:object="${sysMenu}" >
        <input id="id" name="id" th:field="*{id}"  type="hidden">
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">菜单类型</label>
            <div class="col-sm-10">
                <div class="col form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input radio-box" type="radio" id="menuType1" th:field="*{menuType}" name="menuType" value="1" >
                        <label class="form-check-label" for="menuType1">目录1</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input radio-box" type="radio" id="menuType2" th:field="*{menuType}" name="menuType" value="2" >
                        <label class="form-check-label" for="menuType2">菜单2</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input radio-box" type="radio" id="menuType3" th:field="*{menuType}" name="menuType" value="3" >
                        <label class="form-check-label" for="menuType3">按钮3</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="treeName" class="col-sm-2 col-form-label">上级菜单</label>
            <input type="hidden" id="treeId" name="pid" th:field="*{pid}">
            <div class="col-sm-10 input-group">
                <input class="form-control" type="text" onclick="selectMenuTree()" name="treeName" id="treeName" readonly="true" th:value="${sysMenu.parent == null ? '' : sysMenu.parent.name}">
                <!--                <span class="input-group-addon"><i class="fa fa-search fa-2x"></i></span>-->
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">名称</label>
            <div class="col-sm-10">
                <input type="text" id="name" name="name" th:field="*{name}" class=" form-control" placeholder="名称">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="icon" class="col-sm-2 col-form-label">图标</label>
            <div class="col-sm-10">
                <input type="text" id="icon" name="icon" th:field="*{icon}" class="form-control" placeholder="图标">
                <div class="ms-parent" style="width: 100%;">
                    <div class="icon-drop animated flipInX" style="display: none;max-height:200px;overflow-y:auto">
                        <div data-th-include="system/sysMenu/icon"></div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="form-group row">
            <label for="href" class="col-sm-2 col-form-label">网址链接</label>
            <div class="col-sm-10">
                <input type="text" id="href" name="href" th:field="*{href}" class="form-control" placeholder="网址链接">
            </div>
        </div>   




        <div class="form-group row">
            <label for="permission" class="col-sm-2 col-form-label">权限标识</label>
            <div class="col-sm-10">
                <input type="text" id="permission" name="permission" th:field="*{permission}" class="form-control" placeholder="权限标识">
            </div>
        </div>   

        <div class="form-group row">
            <label for="sort" class="col-sm-2 col-form-label">排序</label>
            <div class="col-sm-10">
                <input type="text" id="sort" name="sort" th:value="*{sort!=null?sort:30}" class="form-control" >
            </div>
        </div>   

        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">是否启用</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input  class="form-check-input radio-box" type="radio" id="useable1" name="useable" value="true" th:field="*{useable}">
                    <label class="form-check-label"  th:for="useable1">启用</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio-box" type="radio" id="useable2" name="useable" value="false" th:field="*{useable}">
                    <label class="form-check-label"  th:for="useable2">停用</label>
                </div>
            </div>
        </div> 
        <div class="form-group row">
            <label  class="col-sm-2 col-form-label">是否显示</label>
            <div class="col-sm-10">
                <div class="form-check form-check-inline">
                    <input  class="form-check-input radio-box" type="radio" id="isShow1" name="isShow" value="true" th:field="*{isShow}">
                    <label class="form-check-label"  th:for="isShow1">显示</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input radio-box" type="radio" id="isShow2" name="isShow" value="false" th:field="*{isShow}">
                    <label class="form-check-label"  th:for="isShow2">隐藏</label>
                </div>
            </div>
        </div> 


        <div class="form-group row">
            <label for="remarks" class="col-sm-2 col-form-label">备注</label>
            <div class="col-sm-10">
                <textarea  id="remarks" name="remarks" th:field="*{remarks}" autocomplete="off" maxlength="500" class="form-control" rows="3" placeholder="备注"></textarea>
            </div>
        </div> 













    </form>
    <div th:replace="include :: footer"></div>
    <script type="text/javascript">
        var prefix = "/system/sysMenu";
        $("#sysMenuForm").validate({
            rules: {
                treeName: {
                    required: function (element) {
                        console.log('validate pid')
                        var tp = $("input[name='menuType']:checked").val();
                        if (tp && tp !== '1')
                            return true;
                        else
                            return false;
//                        return true;
                    }
                },
                name: {
                    required: true,
                }
            },
            messages: {
                treeName: {
                    required: "菜单与按钮类型需要上级菜单项"
                }
            }
        });
        function menuVisible(menuType) {
            if (menuType === "1") {
                $("#href").parents(".form-row").hide();
                $("#permission").parents(".form-row").hide();
                $("#icon").parents(".form-row").show();
            } else if (menuType === "2") {
                $("#href").parents(".form-row").show();
                $("#permission").parents(".form-row").show();
                $("#icon").parents(".form-row").hide();
            } else if (menuType === "3") {
                $("#href").parents(".form-row").hide();
                $("#permission").parents(".form-row").show();
                $("#icon").parents(".form-row").hide();
            }
        }
        /*菜单管理-新增-选择菜单树*/
        function selectMenuTree() {
            var treeId = $("#treeId").val();
            var menuId = treeId > 0 ? treeId : 1;
            var url = prefix + "/selectMenuTree/" + menuId;
//            var options = {
//                title: '菜单选择',
//                width: "380",
//                url: url,
//                callBack: doSubmit,
//                clean: doClean,
//            };
//            $.popup.openOptions(options);
            layer.open({
                type: 2,
                maxmin: true,
                shade: 0.3,
                title: '菜单选择',
                fix: false,
                area: [380 + 'px', ($(window).height() - 50) + 'px'],
                content: url,
                shadeClose: true,
                btn: ['选择', '清除', '关闭'],
                yes: function (index, layero) {
                    doSubmit(index, layero);
                }, 
                btn2: function (index, layero) {
                    doClean(index, layero);
//                    return false;
                }, cancel: function () {
                    return true;
                }
            });



        }
        function doSubmit(index, layero) {
//            alert('dosubmit');
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
        function doClean(index, layero) {
//            alert('doClean');
//            var body = layer.getChildFrame('body', index);
            $("#treeId").val("");
            $("#treeName").val("");
            layer.close(index);
        }
        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#sysMenuForm").serializeArray();
                $.operation.saveModal(prefix + "/save", data, function () {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭  
                    parent.SysMenu.table.refresh();
                });
            }
        }
        $(function () {
            $("input[name='icon']").focus(function () {
                $(".icon-drop").show();
            });
            $("#sysMenuForm").click(function (event) {
                var obj = event.srcElement || event.target;
                if (!$(obj).is("input[name='icon']")) {
                    $(".icon-drop").hide();
                }
            });
            $(".icon-drop").find(".ico-list i").on("click",
                    function () {
                        $('#icon').val($(this).attr('class'));
                    });
            $('input').on('ifChecked',
                    function (event) {
                        var menuType = $(event.target).val();
                        menuVisible(menuType);
                    });
        });
    </script>
</body>
</html>