<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
    <th:block th:include="include :: head('系统菜单列表')" />
</head>
<body>
    <div id="searchArea" class="collapse in"  style="margin-top: 15px;">
        <form id="searchForm">
            <div class="form-row">
                <div class="col-auto">
                    <input id="startTime" name="beginTime" type="text" class="form-control select-time" placeholder="开始时间">
                </div>
                <div class="col-auto">
                    <input id="endTime" name="endTime" type="text" class="form-control select-time" placeholder="截止时间">
                </div>
                <div class="col-auto">
                    <input name="searchTxt" type="text" class="form-control" placeholder="字符串字段">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary mb-2" onclick="SysMenu.table.search();"><i class="fas fa-eye"></i>查询</button>
                    <button type="button" class="btn btn-info mb-2" onclick=" $('#searchForm')[0].reset();;"><i class="fas fa-broom"></i>清空</button>
                </div>
            </div>
        </form>
    </div>
    <div id="tableToolbar">
        <div class="form-inline " role="form">
            <button type="button" class="btn btn-outline-success"  data-toggle="tooltip"   title="新建" onclick="SysMenu.table.add();"><i class="fas fa-file-alt"></i></button>
            <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"   title="修改"  onclick="SysMenu.table.edit();"><i class="fas fa-pencil-alt "></i></button>
            <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"     title="删除" onclick="SysMenu.table.delete();"><i class="fas fa-trash-alt "></i></button>

            <div class="form-group">
                <input id="searchKeyWord" name="searchKeyWord" class="form-control" type="text" min="2" minlength="2" placeholder="全文检索">
            </div>
            <button  type="button" class="btn btn-outline-secondary"  data-toggle="tooltip"   title="查询" onclick="SysMenu.table.fullTextSearch();"><i class="fas fa-search "></i></button>
            <button id="searchMore"  type="button" class="btn btn-outline-danger"  data-toggle="tooltip" title="更多查询" onclick='$("#searchArea").collapse("toggle");'>
                <i class="fas fa-pastafarianism fa-1x" ></i>
            </button>
        </div>  
    </div>
    <table id="table">      </table>

    <div th:replace="include :: footer"></div>
    <script th:src="@{/webjars/bootstrap-table/dist/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
    <script th:src="@{/webjars/jquery-treegrid/js/jquery.treegrid.min.js}"></script>
    <script th:inline="javascript">
        var prefix = "/system/sysMenu";
        var baseUrl = prefix + "/list";
        var SysMenu = {
            id: "table",
            funProps: {
                profixTitle: "系统菜单",
                url: baseUrl,
                fullTextUrl: prefix + "/fullTextList",
                addUrl: prefix + "/add",
                editUrl: prefix + "/edit/",
                delUrl: prefix + "/delete",
                unDelUrl: prefix + "/undelete",
            },
            initColumn: function () {
                var columns = [
                    {radio: "true"},

                    {
                        field: 'id',
                        title: '主键ID',
                        visible: false
                    },

                    {
                        field: 'name',
                        title: '名称',
                        sortable: true
                    },

                    {
                        field: 'pid',
                        title: '父ID',
                        visible: false,
                        sortable: true
                    },

                    {
                        field: 'pids',
                        title: '父亲路径',
                        visible: false,
                        sortable: true
                    },

                    {
                        field: 'sort',
                        title: '排序',
                        sortable: true
                    },

                    {
                        field: 'remarks',
                        title: '备注',
                        sortable: true
                    },

                    {
                        field: 'useable',
                        title: '是否启用',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return statusTools(row);
                        }
                    },

                    {
                        field: 'href',
                        title: '网址链接',
                        sortable: true
                    },

                    {
                        field: 'icon',
                        title: '图标',
                        sortable: true
                    },

                    {
                        field: 'isShow',
                        title: '是否显示',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return showTools(row);
                        }
                    },

                    {
                        field: 'permission',
                        title: '权限标识',
                        sortable: true
                    },

                    {title: '操作', align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-xs " href="#"  title="修改"  onclick="SysMenu.table.edit(\'' + row.id + '\')"><i class="fas fa-pencil-alt "></i></a> ');
                            if (row.delFlag === 0)
                                actions.push('<a class="btn btn-danger btn-xs " href="#"  title="删除"  onclick="SysMenu.table.delete(\'' + row.id + '\')"><i class="fas fa-trash-alt "></i></a> ');
                            else
                                actions.push('<a class="btn btn-info btn-xs " href="#"  title="恢复"  onclick="SysMenu.table.undelete(\'' + row.id + '\')"><i class="fas fa-undo "></i></a> ');
                            return actions.join('');
                        }}
                ];
                return columns;
            },
            options: {
                pageSize: 300,
                pageList: [50, 100, 200, 300],
                treeShowField: 'name',
                parentIdField: 'pid',
                idField: 'id',
                showColumns: true,
                showPaginationSwitch: false,
                showRefresh: true,
                showToggle: false,
                showFullscreen: false,
                onLoadSuccess: function (data) {
                    SysMenu.table.btInstance.treegrid({
                        initialState: 'collapsed',
                        treeColumn: 1,
                        onChange: function () {
                            SysMenu.table.btInstance.bootstrapTable('resetWidth');
                        }
                    });
                    SysMenu.table.btInstance.treegrid('getRootNodes').treegrid('expand');
                },
                queryParams: function (params) {
                    var queryData = {};
                    if (this.url === baseUrl)
                        $.each($("#searchForm").serializeArray(), function (i, field) {
                            queryData[field.name] = field.value;
                        });
                    else
                        queryData['keyWords'] = $('#searchKeyWord').val();
                    params = $.extend(params, queryData);
                    return params;
                }
            },
            enable: function (menuId) {
                $.alertMsg.confirm("确认要启用此菜单吗？", function () {
                    $.operate.post(prefix + "/enable", {"menuId": menuId}, function(){SysMenu.table.refresh()});
                })
            },
            disable: function (menuId) {
                $.alertMsg.confirm("确认要停用此菜单吗？", function () {
                    $.operate.post(prefix + "/disable", {"menuId": menuId}, function(){SysMenu.table.refresh()});
                })
            },
            show: function (menuId) {
                $.alertMsg.confirm("确认要显示此菜单吗？", function () {
                    $.operate.post(prefix + "/show", {"menuId": menuId}, function(){SysMenu.table.refresh()});
                })
            },
            hide: function (menuId) {
                $.alertMsg.confirm("确认要隐藏此菜单吗？", function () {
                    $.operate.post(prefix + "/hide", {"menuId": menuId}, function(){SysMenu.table.refresh()});
                })
            }
        };

        $(document).ready(function () {
            var table = new BTable(SysMenu.id, SysMenu.initColumn(), SysMenu.options);
            SysMenu.table = table.init(SysMenu.funProps);
        });

        /* 用户状态显示 */
        function statusTools(row) {
            if (row.useable === false) {
                return '<i class=\"fas fa-toggle-off text-info fa-2x danger\" onclick="SysMenu.enable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fas fa-toggle-on text-info fa-2x success\" onclick="SysMenu.disable(\'' + row.id + '\')"></i> ';
            }
        }
        function showTools(row) {
            if (row.isShow === false) {
                return '<i class=\"fas fa-eye-slash  fa-2x \" onclick="SysMenu.show(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fas fa-eye  fa-2x \" onclick="SysMenu.hide(\'' + row.id + '\')"></i> ';
            }
        }
    </script>
</body>
</html> 