<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
    <th:block th:include="include :: head('系统菜单列表')" />
</head>
<body>
    <div id="searchArea" class="collapse in"  style="margin-top: 15px;">
        <form id="searchForm">

        </form>
    </div>
    <div id="tableToolbar">
        <div class="form-inline " role="form">
            <button type="button" class="btn btn-outline-success"  data-toggle="tooltip"   title="新建" onclick="SysMenu.table.add(800, 600);"><i class="fas fa-file-alt"></i></button>
            <button type="button" class="btn btn-outline-warning" data-toggle="tooltip"   title="修改"  onclick="SysMenu.table.edit('', 800, 600);"><i class="fas fa-pencil-alt "></i></button>
            <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"     title="删除" onclick="SysMenu.table.delete();"><i class="fas fa-trash-alt "></i></button>
            <button type="button" id="expandAllBtn" class="btn btn-outline-info" data-toggle="tooltip"     title="展开/折叠" ><i class="fas fa-exchange-alt "></i></button>
        </div>  
    </div>
    <table id="table">      </table>

    <div th:replace="include :: footer"></div>
    <script th:src="@{/webjars/bootstrap-table/dist/extensions/treegrid/bootstrap-table-treegrid.min.js}"></script>
    <script th:src="@{/webjars/jquery-treegrid/js/jquery.treegrid.min.js}"></script>
    <script th:inline="javascript">
        var prefix = "/system/sysMenu";
        var baseUrl = prefix + "/list";
        var SysMenu = {
            id: "table",
            funProps: {
                profixTitle: "系统菜单",
                url: baseUrl,
                fullTextUrl: prefix + "/fullTextList",
                addUrl: prefix + "/add",
                addChildUrl: prefix + "/addChild/",
                editUrl: prefix + "/edit/",
                delUrl: prefix + "/delete",
                unDelUrl: prefix + "/undelete",
            },
            initColumn: function () {
                var columns = [
                    {radio: "true"},

                    {
                        field: 'id',
                        title: '主键ID',
                        visible: false
                    },

                    {
                        field: 'name',
                        title: '名称',
                        sortable: true
                    },
                    {
                        field: 'href',
                        title: '网址链接',
                        sortable: true
                    },
                    {
                        title: '类型',
                        field: 'menuType',
                        width: '10%',
                        align: "left",
                        formatter: function (value, item, index) {
                            if (item.menuType == 'M') {
                                return '<span class="label label-success">目录</span>';
                            } else if (item.menuType == 'C') {
                                return '<span class="label label-primary">菜单</span>';
                            } else if (item.menuType == 'F') {
                                return '<span class="label label-warning">按钮</span>';
                            }
                        }
                    },
                    {
                        field: 'icon',
                        title: '图标',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return '<i class=\"' + value + ' fa-2x \" ></i> ';
                        }
                    },
                    {
                        field: 'permission',
                        title: '权限标识',
                        sortable: true
                    },

                    {
                        field: 'pid',
                        title: '父ID',
                        visible: false,
                        sortable: true
                    },

                    {
                        field: 'pids',
                        title: '父亲路径',
                        visible: false,
                        sortable: true
                    },

                    {
                        field: 'sort',
                        title: '排序',
                        sortable: true
                    },
                    {
                        field: 'useable',
                        title: '是否启用',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return enableTools(row);
                        }
                    },

                    {
                        field: 'isShow',
                        title: '是否显示',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return showTools(row);
                        }
                    },

                    {
                        field: 'remarks',
                        title: '备注',
                        sortable: true
                    },

                    {title: '操作', align: 'center',
                        formatter: function (value, row, index) {
                            var actions = [];
                            actions.push('<a class="btn btn-success btn-sm " href="#"  title="添加菜单"  onclick="SysMenu.table.addChild(\'' + row.id + '\')"><i class="far fa-plus-square "></i></a> ');
                            actions.push('<a class="btn btn-success btn-sm " href="#"  title="修改"  onclick="SysMenu.table.edit(\'' + row.id + '\')"><i class="fas fa-pencil-alt "></i></a> ');
                            actions.push('<a class="btn btn-danger btn-sm " href="#"  title="删除"  onclick="SysMenu.table.delete(\'' + row.id + '\')"><i class="fas fa-trash-alt "></i></a> ');
                            return actions.join('');
                        }}
                ];
                return columns;
            },
            options: {
                pageSize: 300,
                pageList: [50, 100, 200, 300],
                treeShowField: 'name',
                parentIdField: 'pid',
                idField: 'id',
                showColumns: true,
                showPaginationSwitch: false,
                showRefresh: true,
                showToggle: false,
                showFullscreen: false,
                onLoadSuccess: function (data) {
                    SysMenu.table.btInstance.treegrid({
                        initialState: 'collapsed',
                        treeColumn: 1,
                        onChange: function () {
                            SysMenu.table.btInstance.bootstrapTable('resetWidth');
                        }
                    });
                    SysMenu.table.btInstance.treegrid('getRootNodes').treegrid('expand');
                },
                queryParams: function (params) {
                    var queryData = {};
                    if (this.url === baseUrl)
                        $.each($("#searchForm").serializeArray(), function (i, field) {
                            queryData[field.name] = field.value;
                        });
                    else
                        queryData['keyWords'] = $('#searchKeyWord').val();
                    params = $.extend(params, queryData);
                    return params;
                }
            },
            enable: function (menuId) {
                $.alertMsg.confirm("确认要启用此菜单吗？", function () {
                    $.operate.post(prefix + "/enable", {"menuId": menuId}, function () {
                        SysMenu.table.refresh()
                    });
                })
            },
            disable: function (menuId) {
                $.alertMsg.confirm("确认要停用此菜单吗？", function () {
                    $.operate.post(prefix + "/disable", {"menuId": menuId}, function () {
                        SysMenu.table.refresh()
                    });
                })
            },
            show: function (menuId) {
                $.alertMsg.confirm("确认要显示此菜单吗？", function () {
                    $.operate.post(prefix + "/show", {"menuId": menuId}, function () {
                        SysMenu.table.refresh()
                    });
                })
            },
            hide: function (menuId) {
                $.alertMsg.confirm("确认要隐藏此菜单吗？", function () {
                    $.operate.post(prefix + "/hide", {"menuId": menuId}, function () {
                        SysMenu.table.refresh()
                    });
                })
            }
        };

        $(document).ready(function () {
            var table = new BTable(SysMenu.id, SysMenu.initColumn(), SysMenu.options);
            SysMenu.table = table.init(SysMenu.funProps);



            var expandFlag = false;
            $("#expandAllBtn").click(function () {
                if (!expandFlag) {
//                   $('#table').bootstrapTreeTable('expandAll');
                    SysMenu.table.btInstance.treegrid('expandAll');
                } else {
//                    $('#table').bootstrapTreeTable('collapseAll');
                    SysMenu.table.btInstance.treegrid('collapseAll');
                }
                expandFlag = expandFlag ? false : true;
            })
        });

        /* 用户状态显示 */
        function enableTools(row) {
            if (row.useable === false) {
                return '<i class=\"fas fa-toggle-off fa-2x\"  style=\"color: #ff922b;\" onclick="SysMenu.enable(\'' + row.id + '\')"></i> ';
            } else {
                return '<i class=\"fas fa-toggle-on  fa-2x\" style=\"color: #339af0;\" onclick="SysMenu.disable(\'' + row.id + '\')"></i> ';
            }
        }
        function showTools(row) {
            if (row.useable === false) {
                if (row.isShow === false) {
                    return '<i class=\"fas fa-eye-slash  fa-2x \" ></i> ';
                } else {
                    return '<i class=\"fas fa-eye  fa-2x \"></i> ';
                }
            } else {
                if (row.isShow === false) {
                    return '<i class=\"fas fa-eye-slash  fa-2x \"  style="color: #ff6b6b;" onclick="SysMenu.show(\'' + row.id + '\')"></i> ';
                } else {
                    return '<i class=\"fas fa-eye  fa-2x \" style=\"color: #20c997;\" onclick="SysMenu.hide(\'' + row.id + '\')"></i> ';
                }
            }


        }
    </script>
</body>
</html> 