<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
    <th:block th:include="include :: head('字典')" />
</head>
<body>

    <form id="sysDictForm" novalidate=true th:object="${sysDict}">
        <input id="id" name="id" th:field="*{id}"  type="hidden">
        <div class="form-row">
            <div class="col form-group">
                <input type="text" id="name" name="name" th:field="*{name}" class="form-control" placeholder="字典项名称">
            </div>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <input type="text" id="type" name="type" th:field="*{type}" class="form-control" placeholder="字典项关键字">
            </div>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <input type="text" id="remarks" name="remarks" th:field="*{remarks}" class="form-control" placeholder="备注">
            </div>
        </div>





    </form>
    <div th:replace="include :: footer"></div>
    <script type="text/javascript">
        var prefix = "/dict/sysDict";
        $("#sysDictForm").validate({
            rules: {
                name: {
                    required: true,
                    remote: {
                        url: prefix + "/dictNameCheck",
                        cache: false,
                        data: {
                            dictName: function () {
                                return $('#name').val();
                            },
                            dictId: function () {
                                return   $('#id').val();
                            }
                        }
                    }
                },
                type: {
                    required: true,
                    alphanumeric: true,
                    remote: {
                        url: prefix + "/dictTypeCheck",
                        cache: false,
                        data: {
                            dictType: function () {
                                return $('#type').val();
                            },
                            dictId: function () {
                                return   $('#id').val();
                            }
                        }
                    }
                }
            }
        });

        function submitHandler() {
            if ($.validate.form()) {
                var data = $("#sysDictForm").serializeArray();
                $.operation.saveModal(prefix + "/save", data, function () {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭  
                    parent.SysDict.table.refresh();
                });
            }
        }
    </script>
</body>
</html>